* {
  box-sizing: border-box;
}

body {
  background-color: #00f;
  margin: 0;
}

.header {
  background-color: #00f;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  display: flex;
}

.task, .purchases {
  color: #fff;
  cursor: pointer;
  padding: 20px 10px;
  font-size: 22px;
}

.wrapper {
  background-color: #00f;
  min-height: calc(100vh - 80px);
  position: relative;
}

.main-title {
  white-space: nowrap;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 80px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.container-tasks {
  box-sizing: border-box;
  background-color: #00f;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
  transition: opacity .8s;
  display: flex;
}

.container-purchases {
  box-sizing: border-box;
  background-color: #00f;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
  transition: opacity .8s;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.title {
  color: #fff;
  margin: 20px 0 0;
  font-size: 50px;
  font-style: italic;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}

.loader {
  height: 10px;
  margin: 0 0 15px;
}

.task-box {
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  display: flex;
}

.task-box__input {
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  padding-inline: 15px;
  font-size: 20px;
}

.task-box__input:focus {
  outline: none;
}

.task-box__btn {
  border: none;
  border-radius: 10px;
  height: 32px;
  padding-inline: 15px;
}

.task-box__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #9fa2a5;
  scale: .99;
}

.todos {
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  display: flex;
}

.todoblock {
  position: relative;
}

.todos__item {
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  cursor: default;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  max-height: 32px;
  padding-left: 15px;
  padding-right: 75px;
  font-size: 20px;
  line-height: 32px;
  transition: all 1s ease-in-out;
  display: block;
  overflow: hidden;
}

.todos__item.expanded {
  white-space: normal;
  max-height: 500px;
}

.del {
  cursor: pointer;
  background-color: #ff4040b3;
  background-image: url("bin-icon.3d68b654.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  right: 10px;
}

.del:hover {
  scale: .9;
}

.important {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-55%);
}

.important.active {
  color: #fc0;
}

@media (width <= 366px) {
  .main-title {
    white-space: wrap;
  }

  .title {
    text-align: center;
  }

  .task-box {
    justify-content: center;
  }

  .task-box__input, .task-box__btn {
    width: 80%;
  }

  .todos {
    width: 90%;
  }

  .todoblock, .todos__item {
    width: 100%;
  }

  .del {
    top: 3px;
    right: 10px;
  }
}
/*# sourceMappingURL=todo+-.4d663569.css.map */
