* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(21, 88, 27);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(7, 58, 11);
}

.view {
  position: relative;
  color: #fff;
  font-size: 22px;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.view::after {
  position: absolute;
  content: '';
  left: 10px;
  transform-origin: left;
  bottom: 10px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.view:hover::after {
  transform: scaleX(1);
}

.active {
  background-color: #84b97d;
}

.wrapper {
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: rgb(25, 83, 30);
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  white-space: nowrap;
  margin: 0;
  text-align: center;

  color: #fff;
  font-style: italic;
  font-size: 80px;
}

.loader {
  display: block;
  height: 15px;
  margin: 0;
  margin-bottom: 20px;
}

.not-view {
  opacity: 0;
  transition: 0.8s ease;
}

.container {
  transition: opacity 0.8s ease;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: rgb(25, 83, 30);
}

.items.faded {
  opacity: 0;
}

.title {
  color: #fff;
  font-size: 50px;
  font-style: italic;
  margin: 0;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  transition: 0.8s ease;
}

.data {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.data__input {
  /* box-sizing: border-box; */
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-inline: 15px;
}

.data__input:focus {
  outline: none;
}

.data__btn {
  height: 32px;
  border: none;
  border-radius: 10px;
  padding-inline: 15px;
}

.data__btn:hover {
  cursor: pointer;
  background-color: rgb(69, 88, 80);
  color: #fff;
  scale: 0.99;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  transition: opacity 0.4s ease;
}

.items.faded {
  opacity: 0;
}

.items__block {
  position: relative;
}

.items__block--title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 32px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  width: 300px;
  line-height: 32px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 75px;
  cursor: default;
}

.items__block--title.expanded {
  max-height: 500px;
  white-space: normal;
}

.important {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: 45px;
  font-size: 30px;
  cursor: pointer;
}

.important.active {
  color: #ffcc00;
}

.del {
  position: absolute;
  top: 3px;
  right: 10px;
  background-image: url(../images/bin-icon.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  background-color: rgba(248, 115, 38, 0.952);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.del:hover {
  scale: 0.9;
}

@media (max-width: 366px) {
  .main-title {
    white-space: wrap;
  }

  .title {
    text-align: center;
  }

  .data {
    justify-content: center;
  }

  .data__input,
  .data__btn {
    width: 80%;
  }

  .items {
    width: 90%;
  }

  .items__block {
    width: 100%;
  }

  .items__block--title {
    width: 100%;
  }

  .del {
    top: 3px;
    right: 10px;
  }
}
