* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: blue;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: blue;
}

.task {
  color: #fff;
  font-size: 22px;
  padding: 20px 10px;
  cursor: pointer;
}

.purchases {
  color: #fff;
  font-size: 22px;
  padding: 20px 10px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: blue;
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  white-space: nowrap;
  margin: 0;
  text-align: center;

  color: #fff;
  font-style: italic;
  font-size: 80px;
}

.container-tasks {
  transition: opacity 0.8s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: blue;
}

.container-purchases {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.8s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: blue;
  overflow-y: auto;
}

.title {
  color: #fff;
  font-size: 50px;
  font-style: italic;
  margin: 0;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.loader {
  height: 10px;
  margin: 0;
  margin-bottom: 15px;
}

.task-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.task-box__input {
  box-sizing: border-box;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-inline: 15px;
}

.task-box__input:focus {
  outline: none;
}

.task-box__btn {
  height: 32px;
  border: none;
  border-radius: 10px;
  padding-inline: 15px;
}

.task-box__btn:hover {
  cursor: pointer;
  background-color: rgb(159, 162, 165);
  color: #fff;
  scale: 0.99;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.todoblock {
  position: relative;
}

.todos__item {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 32px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  width: 300px;
  line-height: 32px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 75px;
  cursor: default;
}

.todos__item.expanded {
  max-height: 500px;
  white-space: normal;
}

.del {
  position: absolute;
  top: 3px;
  right: 10px;
  background-image: url(../images/bin-icon.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 64, 64, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.del:hover {
  scale: 0.9;
}

.important {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: 45px;
  font-size: 30px;
  cursor: pointer;
}

.important.active {
  color: #ffcc00;
}

@media (max-width: 366px) {
  .main-title {
    white-space: wrap;
  }

  .title {
    text-align: center;
  }

  .task-box {
    justify-content: center;
  }

  .task-box__input,
  .task-box__btn {
    width: 80%;
  }

  .todos {
    width: 90%;
  }

  .todoblock {
    width: 100%;
  }

  .todos__item {
    width: 100%;
  }

  .del {
    top: 3px;
    right: 10px;
  }
}
